    <script type="text/template" id="tasks-template">
        {{#tasks}}
            		     <h2>Task Title 1</h2>
                    	    <div>
                			   <p>Description:</p>
                			   <p>Description here</p>
                               <table>
              				      <tr>
              					     <td>Priority:</td>
              						 <td>Urgent</td>
              					  </tr>
              					  <tr>
              						 <td>Status:</td>
              						 <td>Active</td>
              					  </tr>
              					  <tr>
              						 <td>Due Every:</td>
              						 <td>00 mo.</td>
              					  </tr>
              				   </table>
                    	   </div>
        {{/tasks}}
    </script>